doctype html
head
  title="Poke.me"
  link(href=`/${styleBundle}.css` rel="stylesheet" type="text/css")
body
  if message && message.length > 0
    div(class="alert alert-success" role="alert") #{message}
  section(class="container")
    block content
  script(src=`/${appScriptBundle}.js`)
  script(src=`/${vendorScriptBundle}.js`)
